.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 0 16px;
}
.logo{
    background-color: #ff7f7f;
    height: 35px;
    animation: rotateAnim 8s infinite linear normal;
}
@keyframes rotateAnim {
  from { transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
